
* {
  padding: 0;
  margin: 0 auto;
  box-sizing: content-box;
}

.button {
  color: #5F6368;
  display: block;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  padding: 10px;
  border-radius: 4px;
}

.button:hover {
  border: 1px solid #c6c6c6;
  color: #222;
}

.form-buttons-container {
  margin-top: 20px;
  display: flex;
}

.logo-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 300px;
}

.logo-image{
  display: flex;
  width: 400px;
  height: 50%;
  justify-content: center;
  align-items: center;
  margin-top: 109px;
}

.logo-image img {
}

.search-form-container {
  width: 400px;
}

.search-bar {
  display: block;
  width: 85%;
  height: 90%;
  border: none;
}

.search-bar:hover{
  none;
}

.search-bar:focus {
  outline: none;
}

.search-bar-container {
  display: flex;
  flex-direction: row;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  height: 24px;
  padding: 5px;
  padding-left: 24px;
}

.search-bar-container:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0)
}

.voice-search {
  display: block;
  background: none;
  background-image: url("images/google-voice.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  border: none;
}

.voice-search:focus{
  outline: none;
}
